{% extends "base.html" %}
{% block title %} PROJECTS {% endblock title %}

{% block content %}
<h1 class="orange title">WEB APPLICATIONS</h1><br><br>

<div id="grid">
    <div class="box" id="ena">
        <div class="inside">
        <img src="/assets/img/loto.png">
        <h2 class="cifra">01.</h2>
        <h2 class="orange">Loto generator</h2>
        <p class="andale">Feeling lucky!</p>
        <a href="/loto" class="button-app">click</a>
        </div>
    </div>
    <div class="box" id="dva">
        <div class="inside">
        <img src="/assets/img/calculator.png">
        <h2 class="cifra">02.</h2>
        <h2 class="orange">Calculator</h2>
        <p class="andale">All about math!</p>
        <a href="/calculator" class="button-app">click</a>
        </div>
    </div>
    <div class="box" id="tri">
        <div class="inside">
        <img src="/assets/img/dnk.png">
        <h2 class="cifra">03.</h2>
        <h2 class="orange">Forensic</h2>
        <p class="andale">Nothing can be hidden!</p>
        <a href="/forensic" class="button-app">click</a>
        </div>
    </div>
    <div class="box" id="stiri">
        <div class="inside">
        <img src="/assets/img/units.png">
        <h2 class="cifra">04.</h2>
        <h2 class="orange">Unit converter</h2>
        <p class="andale">Convert it!</p>
        <a href="/converter" class="button-app">click</a>
        </div>
    </div>
    <div class="box" id="pet">
        <div class="inside">
        <img src="/assets/img/city.png">
        <h2 class="cifra">05.</h2>
        <h2 class="orange">Guess the capital</h2>
        <p class="andale">Show off a bit!</p>
        <a href="/capital" class="button-app">click</a>
        </div>
    </div>

    <div class="box" id="sest">
        <div class="inside">
        <img src="/assets/img/hotel.png">
        <h2 class="cifra">06.</h2>
        <h2 class="orange">Guestbook</h2>
        <p class="andale">Filton hotel</p>
        <a href="/hotel" class="button-app">click</a>
        </div>
    </div>
    <div class="box" id="sedem">
        <div class="inside">
        <img src="/assets/img/todo.png">
        <h2 class="cifra">07.</h2>
        <h2 class="orange">TO-DO list</h2>
        <p class="andale">Task manager</p>
        <a href="/todo" class="button-app">click</a>
        </div>
    </div>
     <div class="box" id="osem">
        <div class="inside">
        <img src="/assets/img/movie.png">
        <h2 class="cifra">08.</h2>
        <h2 class="orange">Movie list</h2>
        <p class="andale">Your favourite movies</p>
        <a href="/film" class="button-app">click</a>
        </div>
    </div>
    <div class="box box1" id="zadnji">
        <div class="inside">
        <img src="/assets/img/soon.png">
        <h2 class="cifra">08.</h2>
        <h2 class="soon">Coming soon...</h2>
        <p class="andale">more badass stuff!</p>
        <a href="#" class="button-app1">click</a>
        </div>
    </div>

    <div class="clear"><!-- --></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>


{% endblock content %}