{% extends "base.html" %}
{% block title %}  {% endblock title %}

{% block content %}
<body>
        <div class="kalkulator">
        <h1 class="orange">Message list</h1>
        <br>
        {% for message in seznam %}
        <div class="forma">
                <p class="capital levi">{{ message.nastanek }} </p>
                {% if message.ime %}
                <h3 class="orange"><a href="/sporocilo/{{ message.key.id() }}">{{ message.ime }}</a></h3>
                {% endif %}
                {% if not message.ime %}
                <h3 class="orange"><a href="/sporocilo/{{ message.key.id() }}">unknown</a></h3>
                {% endif %}
                {{ message.sporocilo }}
                <br>
                <br>
                <br>
                <a class="reply" href="mailto:{{ uporabnik.email() }}" target="_top"><i class="fa fa-envelope fa-lg"></i></a>
                <br>
                <br>
        </div>
        <br>
        {% endfor %}
        <p><a id="back" class="button-app" href="/hotel">back to guestbook</a></p>
    </div>
</body>
{% endblock content %}
</html>